<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://railstutorial.jp/contact">contact page</a>.
</p>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= stylesheet_link_tag "custom", :media => "all" %>
<%= stylesheet_link_tag "kadais", :media => "all" %>
<%= stylesheet_link_tag "scaffolds", :media => "all" %>
<%= stylesheet_link_tag "sessions", :media => "all" %>
<%= stylesheet_link_tag "static_pages", :media => "all" %>
<%= stylesheet_link_tag "users", :media => "all" %>