<!-
name: honda
date: 2020/7/13
purpose: show
->

<div class="center jumbotron">
  <br>
  <br>
  <br>
  <h1>Welcome to 
  the tasksupporter</h1>
  <br>
  <br>
  <h2>
    あなたの課題解決をサポートします (^^)
  </h2>
  <br>
  <br>
  <%= link_to "ログイン", login_path, class: "btn btn-success btn-lg" %>
  <%= link_to "新規登録", signup_path, class: "btn btn-success btn-lg" %>
 
</div>
<%#= image_tag("kitten.jpg", alt:"Kitten) %>
            
<%= stylesheet_link_tag "application", :media => "all" %>
<%= stylesheet_link_tag "custom", :media => "all" %>
<%= stylesheet_link_tag "kadais", :media => "all" %>
<%= stylesheet_link_tag "scaffolds", :media => "all" %>
<%= stylesheet_link_tag "sessions", :media => "all" %>
<%= stylesheet_link_tag "static_pages", :media => "all" %>
<%= stylesheet_link_tag "users", :media => "all" %>
<%= stylesheet_link_tag "home", :media => "all" %>
