<!-
name: tanaka,takahashi
date: 2020/7/13
purpose: show
->


<p id="notice"><%= notice %></p>
<p>
  <strong>課題名:</strong>
  <%= @kadai.title %>
</p>
<p>
  <strong>科目名:</strong>
  <%= @kadai.out %>
</p>
<p>
  <strong>詳細:</strong>
  <%= @kadai.etc %>
</p>
<p>
  <strong>開始日:</strong>
  <%= @kadai.start_date %>
</p>
<p>
  <strong>期限:</strong>
  <%= @kadai.due %>
</p>
<p>
  <strong>重要度:</strong>
  <%= @kadai.imp %>
</p>
<p>
  <strong>進行度:</strong>
  <%= @kadai.sinko %>
</p>
<br>
<p class="font1"><%= link_to '編集', edit_kadai_path(@kadai) %></p>
<td><p class="font1"><%= link_to '削除', @kadai, method: :delete, data: { confirm: '本当に消しますか？' } %></td> </p>
<br>
<br>

<p class="font1"><%= link_to "プロフィールへ", current_user %></p>
<%= stylesheet_link_tag "middle", :media => "all" %>